@charset "uft-8";
/* 문서에 최상단에 위치하게 할것 */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* 패딩이나 마진을 키우더라도 박스크기가 커지는 걸 막을 수 있다 */
}

body
{
    color: #333;
}

a
{
    text-decoration: none;
    color: #333;
}

table
{
    border-collapse: collapse;
}

/* CSS reset */

.cen
{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h3
{
    margin-top: 40px;
    margin-bottom: 20px;
}

#boInfo
{
    font-size: 0.9em;
    margin: 0.5em 0.5em;
}

.boHead
{
    background-color: blue;
    color: white;
    text-align: center;
}

#boList
{
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 12px;
}


#boList>li
{
    border-bottom: 1px solid #ccc;
    overflow: auto;
}

#boList>li:not(.boHead):hover
{
    background-color: #ccc;
}

#boList>li:last-child
{
    border: none;
}

.boNo,
.boTitle,
.boWriter,
.boDate,
.boCount
{
    float: left;
    padding: 0.5em 0.5em;
}

.boNo
{
    width: 50px;
    text-align: center;
}

.boWriter
{
    width: 100px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.boDate
{
    width: 100px;
    text-align: center;
}

.boCount
{
    width: 65px;
    text-align: center;
}

.boTitle
{
    width: calc(100% - 315px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#boPagi
{
    text-align: center;
}

#boPagi a
{
    padding: 5px 5px;
    border: 1px solid #ccc;
    background-color: white;
    margin-right: -1px;
    margin-top: 5pxs;
}

#boPagi a:hover
{
    background-color: rgb(131, 163, 196);
    color: rgb(10, 10, 10);
}

#searchForm
{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

#searchType,
#searchTxt
{
    height: 30px;
    border: 1px solid #ccc;
    color: #333;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#searchBtn
{
    height: 30px;
    width: 40px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
}

#btns
{
    text-align: right;
    margin-top: -55px;
}

.btn
{
    background-color: #333;
    color: white;
    padding: 12px 25px;
    border-radius: 4px;
    box-shadow: 3px 5px 6px rgba(10, 10, 10,0.5);
    transition: background-color 0.4s,box-shadow 2s;
}

.btn:hover
{
    background-color: blue;
    box-shadow: 3px 5px 6px rgba(10, 10, 10,0.2);
}